In [3]:
pip install pandas

Requirement already satisfied: pandas in /srv/conda/envs/notebook/lib/python3.10/site-packages (2.2.2)
Requirement already satisfied: numpy>=1.22.4 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from pandas) (2.0.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from pandas) (2.9.0)
Requirement already satisfied: pytz>=2020.1 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install datetime

Requirement already satisfied: datetime in /srv/conda/envs/notebook/lib/python3.10/site-packages (5.5)
Requirement already satisfied: zope.interface in /srv/conda/envs/notebook/lib/python3.10/site-packages (from datetime) (6.4.post2)
Requirement already satisfied: pytz in /srv/conda/envs/notebook/lib/python3.10/site-packages (from datetime) (2024.1)
Requirement already satisfied: setuptools in /srv/conda/envs/notebook/lib/python3.10/site-packages (from zope.interface->datetime) (70.1.1)
Note: you may need to restart the kernel to use updated packages.

In [22]:
pip install numpy

Requirement already satisfied: numpy in /srv/conda/envs/notebook/lib/python3.10/site-packages (2.0.1)
Note: you may need to restart the kernel to use updated packages.

In [27]:
pip install tableone

Collecting tableone
  Downloading tableone-0.9.1-py3-none-any.whl.metadata (8.5 kB)
Requirement already satisfied: jinja2>=3.1.4 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from tableone) (3.1.4)
Requirement already satisfied: numpy>=1.19.1 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from tableone) (2.0.1)
Collecting openpyxl>=3.1.2 (from tableone)
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Requirement already satisfied: pandas>=2.0.3 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from tableone) (2.2.2)
Collecting scipy>=1.10.1 (from tableone)
  Downloading scipy-1.14.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (60 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 60.8/60.8 kB 4.0 MB/s eta 0:00:00
Collecting statsmodels>=0.14.1 (from tableone)
  Downloading statsmodels-0.14.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (9.2 kB)
Collecting tabulate>=0.9.0 (from tableone)
  Downloading tabulate-0.9.0-py3-none-any.whl.metadata (34 kB)
Requirement already satisfied: MarkupSafe>=2.0 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from jinja2>=3.1.4->tableone) (2.1.5)
Collecting et-xmlfile (from openpyxl>=3.1.2->tableone)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl.metadata (1.8 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from pandas>=2.0.3->tableone) (2.9.0)
Requirement already satisfied: pytz>=2020.1 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from pandas>=2.0.3->tableone) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from pandas>=2.0.3->tableone) (2024.1)
Collecting patsy>=0.5.6 (from statsmodels>=0.14.1->tableone)
  Downloading patsy-0.5.6-py2.py3-none-any.whl.metadata (3.5 kB)
Requirement already satisfied: packaging>=21.3 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from statsmodels>=0.14.1->tableone) (24.1)
Requirement already satisfied: six in /srv/conda/envs/notebook/lib/python3.10/site-packages (from patsy>=0.5.6->statsmodels>=0.14.1->tableone) (1.16.0)
Downloading tableone-0.9.1-py3-none-any.whl (41 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 41.6/41.6 kB 7.8 MB/s eta 0:00:00
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 250.9/250.9 kB 13.0 MB/s eta 0:00:00
Downloading scipy-1.14.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (41.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 41.1/41.1 MB 28.0 MB/s eta 0:00:0000:0100:01
Downloading statsmodels-0.14.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (10.8 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 10.8/10.8 MB 54.7 MB/s eta 0:00:0000:010:01m
Downloading tabulate-0.9.0-py3-none-any.whl (35 kB)
Downloading patsy-0.5.6-py2.py3-none-any.whl (233 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 233.9/233.9 kB 36.0 MB/s eta 0:00:00
Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: tabulate, scipy, patsy, et-xmlfile, openpyxl, statsmodels, tableone
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.5 patsy-0.5.6 scipy-1.14.0 statsmodels-0.14.2 tableone-0.9.1 tabulate-0.9.0
Note: you may need to restart the kernel to use updated packages.

In [34]:
import pandas
from datetime import datetime
import numpy as np
from tableone import TableOne, load_dataset
import warnings

In [5]:
dataset_12345678_person_df = pandas.read_csv("SCDCase.csv")
dataset_23456789_person_df = pandas.read_csv("SCDControl.csv")
dataset_34567890_person_df = pandas.read_csv("StrokeCase.csv")

# The condition we are looking at 
condition_1_name = "Stroke"
condition_2_name = "TCD"

In [6]:
# Rename data frames
case_df = dataset_12345678_person_df
control_df = dataset_23456789_person_df
stroke_df= dataset_34567890_person_df

In [7]:
# Displaying the head and shape of the dataframe
print(case_df.shape)
case_df.head()

(1500, 5)

,person_id,sex_at_birth,date_of_birth,race,ethnicity
0,1,Female,1997-04-01 12:53:56 UTC,Black or African American,Not Hispanic or Latino
1,2,Female,1949-04-10 03:34:59 UTC,Black or African American,Not Hispanic or Latino
2,3,Female,1998-11-25 18:52:47 UTC,Black or African American,Hispanic or Latino
3,4,Male,1968-04-12 03:42:21 UTC,Black or African American,Not Hispanic or Latino
4,5,Female,1955-09-13 07:59:13 UTC,Black or African American,Hispanic or Latino

In [8]:
# Assign all cases with the value 1 in a new column called 'outcome'
case_df['outcome'] = 1

# Assign all controls with the value 0 to same column
control_df['outcome'] = 0

In [9]:
#create column with labels -- this is for tables/plots only
case_df['outcome_f'] = condition_1_name
control_df['outcome_f'] = f'No {condition_1_name}'

In [10]:
# Displaying the head and shape of the dataframe
print(case_df.shape)
case_df.head()

(1500, 7)

,person_id,sex_at_birth,date_of_birth,race,ethnicity,outcome,outcome_f
0,1,Female,1997-04-01 12:53:56 UTC,Black or African American,Not Hispanic or Latino,1,Stroke
1,2,Female,1949-04-10 03:34:59 UTC,Black or African American,Not Hispanic or Latino,1,Stroke
2,3,Female,1998-11-25 18:52:47 UTC,Black or African American,Hispanic or Latino,1,Stroke
3,4,Male,1968-04-12 03:42:21 UTC,Black or African American,Not Hispanic or Latino,1,Stroke
4,5,Female,1955-09-13 07:59:13 UTC,Black or African American,Hispanic or Latino,1,Stroke

In [11]:
# Assign 1 to all persons in a new column called 'predictor'
stroke_df['predictor'] = "TCD"

print(stroke_df.shape)
stroke_df.head()

(3504, 2)

   person_id predictor
0       1337       TCD
1        598       TCD
2        721       TCD
3        851       TCD
4       1393       TCD

In [12]:
# Full join the case and control dfs
merged_df = pandas.merge(case_df, control_df, how='outer') 

# Left join the condition_df
merged_df = pandas.merge(merged_df, stroke_df, how='left', on='person_id')

In [13]:
merged_df.head()

,person_id,sex_at_birth,date_of_birth,race,ethnicity,outcome,outcome_f,predictor
0,1,Female,1997-04-01 12:53:56 UTC,Black or African American,Not Hispanic or Latino,1,Stroke,TCD
1,2,Female,1949-04-10 03:34:59 UTC,Black or African American,Not Hispanic or Latino,1,Stroke,TCD
2,3,Female,1998-11-25 18:52:47 UTC,Black or African American,Hispanic or Latino,1,Stroke,TCD
3,4,Male,1968-04-12 03:42:21 UTC,Black or African American,Not Hispanic or Latino,1,Stroke,NaN
4,5,Female,1955-09-13 07:59:13 UTC,Black or African American,Hispanic or Latino,1,Stroke,NaN

In [14]:
# This takes the NA values created from the left join and makes them the value 'No condition_2_name' or NO TCD.
merged_df = merged_df.fillna(f'No {condition_2_name}')

In [15]:
merged_df.head()

,person_id,sex_at_birth,date_of_birth,race,ethnicity,outcome,outcome_f,predictor
0,1,Female,1997-04-01 12:53:56 UTC,Black or African American,Not Hispanic or Latino,1,Stroke,TCD
1,2,Female,1949-04-10 03:34:59 UTC,Black or African American,Not Hispanic or Latino,1,Stroke,TCD
2,3,Female,1998-11-25 18:52:47 UTC,Black or African American,Hispanic or Latino,1,Stroke,TCD
3,4,Male,1968-04-12 03:42:21 UTC,Black or African American,Not Hispanic or Latino,1,Stroke,No TCD
4,5,Female,1955-09-13 07:59:13 UTC,Black or African American,Hispanic or Latino,1,Stroke,No TCD

In [16]:
# Categorize the variables
merged_df['race'] = merged_df['race'].astype('category')
merged_df['ethnicity'] = merged_df['ethnicity'].astype('category')
merged_df['sex_at_birth'] = merged_df['sex_at_birth'].astype('category')
merged_df['predictor'] = merged_df['predictor'].astype('category')
merged_df['outcome_f'] = merged_df['outcome_f'].astype('category')

In [17]:
# Check levels..change variable name 'predictor' to relevel other demographics
print(merged_df['predictor'].cat.categories)

Index(['No TCD', 'TCD'], dtype='object')

In [18]:
# Reset the predictor reference level to 'No {condition_2_name}'
merged_df['predictor'] = merged_df['predictor'].cat.reorder_categories([f"No {condition_2_name}", condition_2_name])
print(merged_df['predictor'].cat.categories)

Index(['No TCD', 'TCD'], dtype='object')

In [20]:
#Lets calculate age. The workbench does have a code snippet for this but we will do this by hand for now

# Get today's date

today = datetime.now()

In [24]:
# Ensure the date_of_birth is in datetime format
merged_df['date_of_birth'] = pandas.to_datetime(merged_df['date_of_birth']).dt.date

# Calculate age in years
merged_df['age'] = (today - pandas.to_datetime(merged_df['date_of_birth'])) / np.timedelta64(1, 'D') / 365.25
merged_df['age'] = merged_df['age'].astype(int)

# Create age groups
bins = [18, 29, 39, 49, 59, 69, 79, float('inf')]
labels = ['18-29', '30-39', '40-49', '50-59', '60-69', '70-79', '80+']
merged_df['age_group'] = pandas.cut(merged_df['age'], bins=bins, labels=labels)

# Remove unused categories
merged_df['age_group'] = merged_df['age_group'].cat.remove_unused_categories()

In [25]:
merged_df.head()

,person_id,sex_at_birth,date_of_birth,race,ethnicity,outcome,outcome_f,predictor,age,age_group
0,1,Female,1997-04-01,Black or African American,Not Hispanic or Latino,1,Stroke,TCD,27,18-29
1,2,Female,1949-04-10,Black or African American,Not Hispanic or Latino,1,Stroke,TCD,75,70-79
2,3,Female,1998-11-25,Black or African American,Hispanic or Latino,1,Stroke,TCD,25,18-29
3,4,Male,1968-04-12,Black or African American,Not Hispanic or Latino,1,Stroke,No TCD,56,50-59
4,5,Female,1955-09-13,Black or African American,Hispanic or Latino,1,Stroke,No TCD,68,60-69

In [35]:
# Some deprecation errors..ignore them
warnings.filterwarnings("ignore")

# Define labels for the columns
labels = {
    'sex_at_birth': 'Sex',
    'race': 'Race',
    'ethnicity': 'Ethnicity',
    'age': 'Age',
    'age_group': 'Age Group',
    'predictor': 'Predictor',
    'outcome_f': 'Outcome'
}

# Specify columns to be included in the table
columns = ['age', 'sex_at_birth', 'race', 'ethnicity', 'age_group', 'predictor']

# Specify categorical columns
categorical = ['sex_at_birth', 'race', 'ethnicity', 'age_group', 'predictor']

# Label reference categories
def append_ref_to_label(data, exclude_var=None):
    for column in data.columns:
        if pandas.api.types.is_categorical_dtype(data[column]) and column != exclude_var:
            categories = data[column].cat.categories
            new_categories = [f"{cat} (ref)" if i == 0 else cat for i, cat in enumerate(categories)]
            data[column] = data[column].cat.rename_categories(new_categories)
    return data

labelled_df = merged_df.copy()

append_ref_to_label(labelled_df, exclude_var=None)


# Create an instance of TableOne with the data
table = TableOne(labelled_df, columns=columns, categorical=categorical, groupby='outcome_f', 
                 rename=labels, pval=True, missing=False, overall=False)

# Print the table
table

                                                 Grouped by Outcome
                                                    No Stroke (ref)        Stroke P-Value
n                                                              8000          1500
Age, mean (SD)                                          45.9 (15.9)   51.7 (15.9)  <0.001
Sex, n (%)       Female (ref)                           4808 (60.1)    910 (60.7)   0.702
                 Male                                   3192 (39.9)    590 (39.3)
Race, n (%)      Black or African American (ref)       8000 (100.0)  1500 (100.0)   1.000
Ethnicity, n (%) Hispanic or Latino (ref)               1399 (17.5)    258 (17.2)   0.816
                 Not Hispanic or Latino                 6601 (82.5)   1242 (82.8)
Age Group, n (%) 18-29 (ref)                            1597 (20.0)    196 (13.1)  <0.001
                 30-39                                  1502 (18.8)    188 (12.5)
                 40-49                                  1513 (18.9)    198 (13.2)
                 50-59                                  1474 (18.4)    334 (22.3)
                 60-69                                  1243 (15.5)    394 (26.3)
                 70-79                                    671 (8.4)    190 (12.7)
Predictor, n (%) No TCD (ref)                           5339 (66.7)    657 (43.8)  <0.001
                 TCD                                    2661 (33.3)    843 (56.2)